# requirements.txt

# GUI框架
PyQt5==5.15.11
# 节点图框架
NodeGraphQt==0.6.44
# 自动化库
# PyAutoGUI==0.9.54
# UI 自动化库
uiautomation==2.0.29

numpy==2.4.4
opencv-python==4.13.0.92

pywin32==311

# 核心功能是帮助 Python 脚本自动请求管理员权限
# pyuac==0.0.3
# 剪贴板依赖 pip install pyperclip
pyperclip==1.11.0